.header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
}

.mat-form {
	position: relative;
	width: 100%;
}

.sign-up-btn {
	width: 100%;
	margin-bottom: 30px;
}

.Already-account-anchor {
	color: #37a8e5;
	text-decoration: none;
	margin-bottom: 16px;
	font: 500 14px/24px Inter, Helvetica Neue, sans-serif;
	letter-spacing: normal;
	float: right;
}

.footer {
	margin-bottom: 16px;
	font: 500 14px/24px Inter, Helvetica Neue, sans-serif;
	letter-spacing: normal;
	margin-top: 16px;
	display: flex;
}

.new-account {
	color: #37a8e5;
	text-decoration: none;
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
	font: 500 14px/24px Inter, Helvetica Neue, sans-serif;
	letter-spacing: normal;
	text-align: center;
}

.para {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.para-info {
	display: inline;
	font-size: 16px;
	color: blueviolet;
	font-weight: 500;
}

.paras {
	display: inline;
	font-size: 15px;
	margin-left: 100px;
}
.mat-card {
	background: #fff;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 25px;
}
