.home-container {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: aliceblue;
}
.home__header {
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	position: fixed;
	top: 0;
	width: 100%;
}

.home__header__left {
	display: flex;
	margin-left: 10px;
	align-items: center;
	gap: 10px;
	flex: 0.5;
	height: 100%;
}

.searchBar {
	position: relative;
	width: fit-content;
}
input {
	outline: none;
	border: 1px solid lightgray;
	background-color: #f0f2f5;
	padding: 10px 40px;
	border-radius: 20px;
}
.home__header__middle {
	padding: 10px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0.5;
}
.middle_mat_icons {
	color: #65676b;
}
.middle_mat_icons:hover {
	color: rgb(14, 80, 165);
	background-color: #f2f2f2;
	cursor: pointer;
	border-radius: 10px;
}
.home__header__right {
	flex: 0.5;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px;
	gap: 10px;
}
span.name {
	font-size: 16px;
	margin-left: 5px;
}
.h_profile {
	display: flex;
	align-items: center;
}
.home__body {
	margin-top: 100px;
	background-color: #f2f2f2;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	align-items: flex-start;
}
.home__body__sidebarLeft {
	position: relative;
}
.left_body_inside {
	position: fixed;
	padding: 15px;
	margin-top: 5px;
	width: 350px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.user-avatar {
	display: flex;
	align-items: center;
	gap: 15px;
}
.name {
	font-size: 16px;
}
.left_body_elements {
	display: flex;
	align-items: center;
	gap: 10px;
	color: royalblue;
}
.home__body__contentMiddle__center_div {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
}
